
<div *ngIf="isSubmitted">
  <h3>Submitted Successfully</h3>
   Email:{{email}}
   <br>
   Password:{{password}}
   <br>
   Gender:{{gender}}
 </div>

<div *ngIf="!isSubmitted">
  <h3>SignUp</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="email">Email</label>
  
  <input type="email" id="email" placeholder="Email" formControlName="email">

<br>
  <div *ngIf="form.get('email').errors?.touched&&form.get('email').errors?.required">
    *Email is required
    </div>
    <div *ngIf="form.get('email').errors?.pattern">
   Invalid email
    </div>

   <label for="password">Password</label>
  <input type="password" id="password" placeholder="Password" formControlName="password">

  <br>
   <div *ngIf="form.get('password').errors?.touched&&form.get('password').errors?.required">
    *Password is required</div>
 
  <div *ngIf="form.get('password').errors?.pattern">
    *Password should be alphanumeric
   
    *Minimum 8 characters   *Atleast one special character
    </div>
   <label for="confirmpassword">Confirm Password</label>
  <input type="password" id="confirmpassword" placeholder="Password" formControlName="confirmpassword">
<br>
<div *ngIf="form.get('confirmpassword').errors?.passwordNotMatch">
    *Passwords should be same 
   
   
    </div>
<label for="gender">Gender</label>

<select name="gender" id="gender"  formControlName="gender"  >
  
   <option *ngFor="let item of items" [value]="item"  >{{item}}</option>
  
  
</select>

<div *ngIf="form.get('gender').errors?.touched&&form.get('gender').errors?.required">
    
   *Select a gender

    </div>
<div>
<input #f1 formControlName="accept" type="checkbox" id="Accept" name="Accept" value="accept"  > 
<label for="Accept">Accept</label><br>
</div>
<button type ="reset">Cancel</button>
<button type="submit" [disabled]="form.invalid" >Submit</button>

  




  </form>
 

  </div>